@import "../dist/variables.css";

.storybook-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: var(--color-action-primary-color);
  background-color: var(--color-action-primary-background);
}
.storybook-button--secondary {
  color: var(--color-action-secondary-color);
  background-color: var(--color-action-secondary-background);
  border: 2px solid var(--color-action-secondary-color);
  transition: color 0.3s, background-color 0.3s;
}

.storybook-button--secondary:hover {
  color: var(--color-action-primary-color);
  background-color: var(--color-action-primary-background);
}

.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
